*{
  outline: none;
}
.main {
  width: 1200px;
  clear: both;
  margin: auto;
}
.footer ul.uldatas li {
  padding-left: 0;
}
.float_left {
  width: 730px;
  float: left;
}
.float_right {
  width: 405px;
  float: right;
}
.text_main {
  overflow: hidden;
}
.header {
  height: auto;
}
.tianjia_search>span {
  float: left;
}
.tianjia_search p span {
  font-size: 14px;
  color: #666666;
  border: 1px solid #ebebeb;
  margin-right: 8px;
  padding: 4px 6px;
  position: relative;
}
.tianjia_search p b {
  position: absolute;
  right: 0;
  top: 0px;
  font-size: 14px;
  color: #666666;
  border: 1px solid #ebebeb;
  padding: 4px 6px;
  background-color: #f4f4f4;
}
.tianjia_search i {
  font-size: 14px;
  color: #666666;
}
.tianjia_search span img {
  vertical-align: inherit;
  position: absolute;
  top: 10px;
  right: 2px;
}
b img {
  vertical-align: middle;
}
.tianjia_search {
  padding: 15px 0;
  overflow: auto;
}
.tianjia_search p {
  cursor: default;
height: 30px;
position: relative;
}
.search_w2 {
  border: 1px solid #dcdcdc;
  padding: 0 10px;
}
.search_w2 p i {
  font-size: 14px;
  color: #adadad;
}
.search_w2 p {
  padding: 10px 0;
  border-bottom: 1px dashed #dcdcdc;
}
.search_w2 p span {
  margin: 0 12px;
  font-size: 14px;
  color: #666;
}
.NO_2 {
  position: relative;
}
.NO_2 input {
  outline: none;
  border: 1px solid #dcdcdc;
  padding: 6px 0;
  padding-left: 5px;
  width: 130px;
}
.NO_2 img {
  position: absolute;
  top: 16px;
  left: 204px;
}
.NO_2 .jdd2 {
  position: absolute;
  top: 16px;
  left: 380px;
}
.NO_3 i {
  font-size: 14px;
  color: #adadad;
  vertical-align: top;
}
.NO_3 p {
  display: inline-block;
  width: 630px;
  padding: 0;
  border: none;
}
.NO_3 p span {
  margin: 0 12px;
  margin-bottom: 5px;
  display: inline-block;
}
.small_new{
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
  overflow: hidden;
  margin-top: 10px;
}
.small_new ul li{
  float: left;
  padding: 12px 18px;
  color: #666;
  font-size: 14px;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  cursor: default;
}
.small_new ul li.foc{
  background-color: #fcfcfc;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  color: #cc3d3d;
}
.small_new ul li small{
  margin-left: 4px;
}
.dier_search{
  float: left;
color: #adadad;
margin-top: 10px;
margin-left: 20px;
}
.dier_search input{
  outline: none;
  border: 1px solid #dcdcdc;
  color: #adadad;
  padding: 5px 0;
  width: 50px;
}
/*搜索内容css*/
.search_new li{
  padding: 20px 0;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
}
/*.search_new li:last-child{
  border: none;
}*/
.search_new li>a img{
  float:left;

  transition: all .3s ease-in-out;
}
.search_new li>a{
  width: 220px;
  height: 150px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.text_wenben{
margin-top: 10px;
float: left;
width: 480px;
}
.text_wenben p{
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-top: 10px;
}
.text_wenben .text_day{
  color: #999;
}
.text_wenben h1{
  font-size: 20px;
  color: #333333;
width: 330px;
}
.text_wenben h1 img{
  vertical-align: bottom;
  margin-left: 15px;
}
.fanye_left select{
  width: 80px;
  padding: 2px 0;
  margin-left: 10px;
}
.fanye{
  margin-top: 30px;
  margin-bottom: 60px;
}
.fanye{
  font-size: 12px;
  color: #666;
}
.fanye_left{
  padding-left: 20px;
  position: relative;
}
.fanye_left ul{
  display: inline-block;
  vertical-align: middle;
}
.fanye_left ul li{
  float: left;
  padding: 5px 15px;;
  border: none;
  cursor: pointer;

}
.fanye_left img{
  vertical-align: middle;
  margin-left: 20px;
}
.fanye_left span input{
  border: 1px solid #dcdcdc;
  padding: 2px 3px;
  width: 30px;
display: inline-block;
margin: 0 5px;
vertical-align: top;
}
.yeshu_m{
  margin: 0 20px;
}
.fanye_left button{
  margin-left: 10px;
  font-size: 12px;
  color: #666;
  vertical-align: super;
}
.search_new ul li a:hover img{
  transform: scale(1.1);

}
/*右边样式*/
.float_right{
  margin-top: 12px;
}
.float_right h1{
  padding-bottom: 8px;
  border-bottom: 1px solid #e29292;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  position: relative;
}
.float_right h1 span{
  display: inline-block;
  height: 20px;
  border-left: 3px solid #cc3d3d;
  vertical-align: middle;
  margin-right: 10px;
}
.float_right h1 small{
  position: absolute;
  font-size: 14px;
  right: 0;
  bottom: 5px;
}
.float_right h1 small a{
  color: #999;
}
.right_main ul li img{
  float: left;
  margin-right: 10px;
}
.right_main ul li{
  padding: 18px 0;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
}
.right_main ul li h2{
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}
.right_main ul li p{
  color: #666;
  font-size: 14px;
}
.float_rightbottom{
  margin-top: 30px;
}
.text_wenben{
  position: relative;
}
.text_wenben img{
position: absolute;
top: 0px;
right: 50px;
}
.fanye_left ul li.con{
  font-weight: bold;
  color: #cc3d3d;
}
.piao{
  position: absolute;
  top: 0px;
  left: 210px;
}
.yeshu_m{
  margin-left: 280px;
}
#nav li:hover{
border-bottom: solid 5px #cc3d3d !important;
}
.float_righttop h1 a:hover{
  color: #cc3d3d;
}
